@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */


/* --------------------------------
 * parts
 * -------------------------------- */


/* --------------------------------
 * header
 * -------------------------------- */



/* --------------------------------
 * about
 * -------------------------------- */



/* --------------------------------
 * works
 * -------------------------------- */



/* --------------------------------
 * skills
 * -------------------------------- */


/* --------------------------------
 * contact
 * -------------------------------- */



/* --------------------------------
 * footer
 * -------------------------------- */



/* --------------------------------
 * smart phone
 * -------------------------------- */



/* --------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
/*
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/
